<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CAM-Classifier</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
</head>
<body>

<nav>
    <a href="/">Home</a>
    <br/>
    <a href="{{ url_for('training_data_bp.view_new_datapoint_form') }}">New Training data</a>
    <br/>
    <a href="{{ url_for('training_data_bp.view_all_data') }}">View data</a>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>